/* ? Generics */
img {
    max-width: 100%;
    display: block;
    border-radius: 50%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Background  main-content */
.bg-grad {
    height: 100vh;
    background-image: linear-gradient(#009688 15%, #DBDBD4 15%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.webapp-window {
    height: 95vh;
    width: 80vw;
    background-color: white;
    display: flex;
}

/* ! Sidebar */
.sidebar {
    width: 35%;
    border-right: 2px solid #7777F1;
    display: flex;
    flex-direction: column;
}

.main-content {
    width: 65%;
    height: 100%;
}

/* Navbar dell'utente */
.user-navbar {
    background-color: #EAEAEA;
    height: 90px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-image img {
    height: 60px;
    margin-top: 15px;
    margin-left: 10px;
}

.user-name h1 {
    font-size: 20px;
    line-height: 90px;
    margin-bottom: 0;
    margin-left: 10px;
}

.user-options a {
    color: #B1B1B1;
}

/* Notifiche messaggi */
.user-notifications {
    background-color: #8EDAFC;
    height: 100px;
    flex-shrink: 0;
}

.user-notifications .silence-icon {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: white;
    color: #8EDAFC;
    padding-top: 18px;
    padding-left: 20px;
}

.new-notifications h4 {
    font-size: 18px;
    margin: 0;
}

.new-notifications a {
    color: gray;
}

/* Barra di ricerca */
.search-bar {
    height: 60px;
    flex-shrink: 0;
}

/* Lista contatti */
.contacts-list {
    overflow: auto;
}

.contact {
    padding: 15px 0;
    border-top: 1px solid lightgray;
}

.contact-avatar img {
    height: 70px;
}

.contact-info h3 {
    font-size: 20px;
    margin-left: 20px;
}


/* ! Main content */
/* Navbar del contatto */
.contact-navbar {
    background-color: #EAEAEA;
    flex-shrink: 0;
    padding: 15px 0;
}

.contact-avatar-chat img {
    height: 60px;
}

.contact-info-chat h2 {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0;
}

.contact-info-chat .last-access {
    margin-left: 20px;
    color: gray;
}

.contact-chat-options a {
    color: #B1B1B1;
}


/* Chat del contatto */
.contact-chat {
    flex-grow: 1;
    overflow: auto;
    background-image: url(/img/mine.jpg);
}

/* Barra del messaggio */ 
.message-bar {
    height: 90px;
    flex-shrink: 0;
}

.message-bar a {
    color: gray;
}

.message-bar input {
    height: 65px;
    margin: 0 30px;
}