/* Background  main-content */
.bg-grad {
    height: 100vh;
    background-image: linear-gradient(#009688 15%, #DBDBD4 15%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.webapp-window {
    height: 95vh;
    width: 80vw;
    background-color: white;
    display: flex;
}

.sidebar {
    width: 35%;
    height: 100%;
    border: 2px dashed black;
}

.main-content {
    width: 65%;
    height: 100%;
    border: 2px dashed black;
}